.hidden {
    display: none;
}

.sv-completedpage {
    display: none!important;
}

.sv-header__text {
    color: #254a67!important;
}

.sv-footer__complete-btn {
    background-color: #254a67!important;
}

.response,
.sv-footer,
.sv-body__footer,
.sv-container-modern__title {
    display: flex!important;
    justify-content: center!important;
    text-align: center!important;
}