.hidden {
    display: none;
}

.sv-completedpage {
    display: none!important;
}

.sv-header__text {
    color: #254a67!important;
}

.sv-file__choose-btn {
    background-color: #254a67!important;
}

.sv-footer__complete-btn {
    background-color: #254a67!important;
}

.response,
.sv-footer,
.sv-body__footer,
.sv-container-modern__title {
    display: flex!important;
    justify-content: center!important;
    text-align: center!important;
}

#send {
    background-color: #254a67!important;
    border-color: #254a67!important;
    border-radius: 1.214em!important;
    margin-right: 20px;
}

.center {
    display: grid;
    justify-content: center;
    text-align: center;
}

.banner_buap {
    display:block;
    justify-content:center;
    text-align:center;
}

#banner {
    width: 1160px;
    height: 518px;
    border-radius: 5px;
    margin-top: 20px;
}

#logo {
    width: 350px;
    height: 350px;
    margin-top: 30px;
}

@media only screen and (max-width: 1025px) {
    #banner {
        width: 800px;
        height: 450px;
    }
}

@media only screen and (max-width: 450px) {
    #banner {
        width: 380px;
        height: 200px;
    }
    #logo {
        width: 250px;
        height: 250px;
    }
}
